@import './mixins';
@import './variables';

.spellcasting-ability {
  flex: 0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;

  > div {
    flex: 1;
    white-space: nowrap;
  }

  label {
    font-weight: 700;
    color: var(--accent-text);
  }
}

.spell-comps {
  gap: calc(0.2em);

  justify-content: flex-end;
}

.spellbook {
  .item {
    &.prepared {
      background-color: var(--spellbook-active);
    }
    &.alwaysPrepared {
      background-color: var(--spellbook-always-active);
    }
  }
  .spellSlotMarker {
    display: flex;
    flex: initial;
    gap: 2px;
    align-items: center;
    .dot {
      position: relative;
      display: block;
      width: 15px;
      height: 15px;
      // cursor: pointer;
      background-color: var(--highlight);
      border: 1px solid var(--color-border-dark-5);
      // &:hover,
      // &.change {
      //   background-color: var(--t5e-warning-accent);
      // }

      &.empty {
        background-color: transparent;

        // &:hover,
        // &.change {
        //   background-color: var(--t5e-prepared);
        // }
      }
    }
  }
}
